html, body{
    min-height: 100%;
    padding: 0;
    margin: 0;
}

body{
    font-family: Helvetica, sans-serif;
    background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/356112/splitshire.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

/* === Custom css === */
header{
	display: flex;
}

h1{
    font-size: 2.4rem;
    text-transform: uppercase;
    font-family: 'Arial narrow';
    font-style: italic;
    font-weight: bold;
    background: 
    	-webkit-linear-gradient(bottom left, #fc80de 0%, #853ee1 10%);
    	-webkit-background-clip: text;
      	-webkit-text-fill-color: transparent;
    margin-left: 20px;
}

nav{
	text-transform: uppercase;
}
nav ul{
	list-style: none;
	display: flex;	
	flex-direction: row;
	align-content: space-around;
	height: 200px;
}

nav a{
    text-decoration: none;
    color: white;
    font-size: 0.8rem;
}




@media screen and (max-width: 960px){

nav ul {
	flex-direction: column;
	align: center;
	align-content: space-around;
}
nav li{
    flex: 1;
}

}