# Ignore configuration files that may contain sensitive information.
sites/*/settings*.php

# Ignore paths that contain user-generated content.
/node_modules
/.idea
/Try
LAB6 - weerapp/.idea/encodings.xml
LAB6 - weerapp/.idea/LAB6 - weerapp.iml
LAB6 - weerapp/.idea/misc.xml
LAB6 - weerapp/.idea/modules.xml
LAB6 - weerapp/.idea/workspace.xml
LAB6 - weerapp/.idea/copyright/profiles_settings.xml
