html, body {
    min-height: 100%;
    padding: 0;
    margin: 0;
}

body{
    font-family: Helvetica, sans-serif;
    background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/356112/splitshire.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

/* === Custom css === */
h1 {
    font-size: 2.4rem;
    text-transform: uppercase;
    font-family: 'Arial narrow';
    font-style: italic;
    font-weight: bold;
    background: 
    	-webkit-linear-gradient(bottom left, #fc80de 0%, #853ee1 25%);
    	-webkit-background-clip: text;
      	-webkit-text-fill-color: transparent;
    margin-left: 20px;
}
/* == nav == */
nav {
	text-transform: uppercase;
}
nav ul {
	list-style: none;
	display: flex;	
	flex-direction: column;
	align-content: space-around;
	height: 200px;
}
nav li {
	flex: 1;
}
nav a {
	text-decoration: none;
	color: white;
	font-size: 0.8rem;
}

/* == Albums == */
#albums h 2{
	color: white;
	text-align: center;
}
#albums ul{
	list-style: none;
	display: flex;
	flex-direction: column;
	align-items: center;
	align-content: space-around;
	text-transform: uppercase;
    font-family: 'Arial narrow';
    font-style: italic;
    font-weight: bold;
    text-align: center
}
#albums li {
	flex: 1;
}


/* == Middle screen ==*/
@media screen and (min-width: 960px) {
  header {
  	  display: flex;
  }
  nav {
  	  flex: 1;
  }
  nav ul {
  	  height: 70px;
  	  display: flex;
  	  flex-direction: row;
  	  align-items: center;
  	  align-content: space-around;
  }    
  nav li {
  	  text-align: center;
  }

  #albums ul {
  	  flex-direction: row;
  }
}

/* == Max screen == */ 
@media screen and (min-width: 1100px) {
  nav ul {
      width: 700px;
      margin-left: auto;
  }  
}




